<!-- favicon icon -->
<!-- <link
  rel="icon"
  type="image/x-icon"
  href="/assets/images/favicon/favicon.ico"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/assets/images/favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/images/favicon/favicon-32x32.png"
/> -->
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/images/favicon/favicon-16x16.png"
/>
<!-- google fonts preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<!-- style sheets and font icons -->
<link rel="stylesheet" href="/assets/css/vendors.min.css" />
<link rel="stylesheet" href="/assets/css/icon.min.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/responsive.css" />
<link rel="stylesheet" href="/assets/css/it-business.css" />
<link rel="stylesheet" href="/assets/css/mvdwash-overrides.css" />
