<!-- favicon icon -->
<link rel="shortcut icon" href="/assets/images/icono.png" />
<link rel="apple-touch-icon" href="i/assets/images/icono.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icono.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icono.png" />
<!-- google fonts preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<!-- style sheets and font icons -->
<link rel="stylesheet" href="/assets/css/vendors.min.css" />
<link rel="stylesheet" href="/assets/css/icon.min.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/responsive.css" />
<link rel="stylesheet" href="/assets/css/it-business.css" />
<link rel="stylesheet" href="/assets/css/mvdwash-overrides.css" />
