<header>
  <!-- start navigation -->
  <nav
    class="navbar navbar-expand-lg header-transparent bg-transparent header-reverse glass-effect"
    data-header-hover="light"
  >
    <div class="container-fluid">
      <div class="col-auto col-xxl-3 col-lg-2 me-lg-0 me-auto">
        <a class="navbar-brand" href="/">
          <img
            src="/assets/images/logo-txt.png"
            data-at2x="/assets/images/logo_mas_chico.png"
            alt=""
            class="default-logo"
          />
          <img
            src="/assets/images/logo-txt.png"
            data-at2x="/assets/images/logo_mas_chico.png"
            alt=""
            class="alt-logo"
          />
          <img
            src="/assets/images/logo-txt.png"
            data-at2x="/assets/images/logo_mas_chico.png"
            alt=""
            class="mobile-logo"
          />
        </a>
      </div>
      <div class="col-auto col-xxl-6 col-lg-8 menu-order position-static">
        <button
          class="navbar-toggler float-start"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
          <span class="navbar-toggler-line"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
              <a href="/quienes-somos/" class="nav-link">Sobre Nosotros</a>
            </li>
            <li class="nav-item dropdown dropdown-with-icon-style02">
              <a href="" class="nav-link">Servicios</a>
              <i
                class="fa-solid fa-angle-down dropdown-toggle"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></i>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a href="/servicios/limpieza-sillones/"
                    >Limpieza de sillones</a
                  >
                </li>
                <li>
                  <a href="/servicios/limpieza-sillas-y-butacas/"
                    >Sillas y butacas</a
                  >
                </li>
                <li>
                  <a href="/servicios/limpieza-tapizados-autos/"
                    >Tapizados de autos</a
                  >
                </li>
                <li>
                  <a href="/servicios/limpieza-colchones/"
                    >Limpieza de colchones</a
                  >
                </li>
                <li>
                  <a href="/servicios/limpieza-alfombras-y-moquettes.html"
                    >Alfombras y Moquettes</a
                  >
                </li>
                <li>
                  <a href="/servicios/productos-exclusivos/"
                    >Productos Exclusivos</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="/contacto/" class="nav-link">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-auto col-xxl-3 col-lg-2 text-end d-none d-sm-flex">
        <div
          class="header-icon {{ 'd-none' if ocultarBotonPresupuesto == true}}"
        >
          <div class="header-button">
            <a
              href="#form-solicitar-presupuesto"
              class="btn btn-large btn-transparent-white-light btn-rounded text-transform-none border-1"
              >Solicitar Presupuesto<i class="fa-solid fa-arrow-down"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end navigation -->
</header>
<!-- end header -->
