<section class="intro--{{introId}} cover-background ipad-top-space-margin py-0 md-h-750px sm-h-650px" style="background-image:url('/assets/images/banner06.png');">
    <div class="opacity-very-light bg-black"></div>
    <div class="shape-image-animation bottom-0 p-0 w-100 d-none d-md-block"> 
        <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200" fill="#ffffff"> 
        <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
        <animate
            attributeName="d"
            dur="5s"
            values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250"
            repeatCount="indefinite"
            />
        </path>
        </svg>
    </div> 
    <div class="container h-100"> 
        <div class="row align-items-center h-100">
            <div class="col-xl-6 col-lg-8 col-md-10 position-relative z-index-1" data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>   
                <h4 class="text-white fw-600 ls-minus-2px mb-25px">{{introTitulo}}</h2> 
                <div class="{{ 'd-none' if ocultarIntroDescripcion }}"><p class="fw-300 fs-18 w-85 sm-w-95 text-white opacity-6">{{introDescripcion}}</p></div>
                <a href="https://www.youtube.com/watch?v=go8EF623WcY" target="blank" class="btn btn-extra-large btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px popup-youtube {{ 'd-none' if ocultarIntroBotones === true }}">
                    <span>
                        <span class="btn-double-text" data-text="Ver presentación">Ver presentación</span>
                        <span><i class="fa-brands fa-youtube"></i></span>
                    </span>
                </a>
                <a href="demo-it-business-contact.html" class="btn btn-extra-large btn-switch-text btn-transparent-white-light btn-rounded border-1 ls-0px mt-15px {{ 'd-none' if ocultarIntroBotones === true }}">
                    <span>
                        <span class="btn-double-text" data-text="Contacto">Contacto</span>
                        <span><i class="fa-regular fa-envelope"></i></span>
                    </span>
                </a>
            </div>  
        </div> 
    </div>
</section>
<!-- end hero section -->