<!-- start section -->
<section class="pt-3 position-relative bg-gradient-top-very-light-gray sm-pt-50px"> 
    <div class="container">  
        <div class="row justify-content-center mb-4">
            <div class="col-xl-7 col-lg-9 col-md-10 text-center">
                <h3 class="text-dark-gray fw-700 ls-minus-2px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Otros servicios que te pueden interesar</h3>
            </div>
        </div>
        <div class="row g-0"> 
            <!-- start features box item -->
        <div class="col-12" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <ul class="blog-grid blog-wrapper grid-loading grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <li class="grid-sizer"></li>
                    <!-- start blog item -->
                    <li class="grid-item {{ 'd-none' if esteServicio === 'sillones-sofas' }}">
                        <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                            <div class="blog-image">
                                <a href="limpieza_sillones.html" class="d-block"><img src="https://www.mvdwash.com.uy/imagenesweb/sillones02.png" alt="" /></a>
                                <div class="blog-categories">
                                    <a href="demo-it-business-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase fw-700">Hogar</a>
                                </div>
                            </div>
                            <div class="card-body p-13 md-p-11" style="padding-bottom: 20px !important">
                                <a href="limpieza_sillones.html" class="card-title mb-15px fw-600 fs-18 lh-28 text-dark-gray d-inline-block w-90 md-w-100">Limpieza de Sillones y Sofás</a>
                                <p>Ofrecemos servicios de limpieza y sanitización para una amplia variedad de tipos de sillones...</p>
                                <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                    <div class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                        <a href="/servicios/limpieza-sillones.html" class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                        <span>
                                            <span class="btn-text">Explorar servicio</span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </span> 
                                        </a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <li class="grid-item {{ 'd-none' if esteServicio === 'sillas-butacas' }}">
                        <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                            <div class="blog-image">
                                <a href="demo-it-business-blog-single-clean.html" class="d-block"><img src="https://www.mvdwash.com.uy/imagenesweb/sillas_butacas.png" alt="" /></a>
                                <div class="blog-categories">
                                    <a href="demo-it-business-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase fw-700">Hogar</a>
                                </div>
                            </div>
                            <div class="card-body p-13 md-p-11" style="padding-bottom: 20px !important">
                                <a href="demo-it-business-blog-single-clean.html" class="card-title mb-15px fw-600 fs-18 lh-28 text-dark-gray d-inline-block w-90 md-w-100">Limpieza Sillas y Butacas</a>
                                <p>Ofrecemos servicios de limpieza para sillas y butacas, tanto en entornos domésticos como...</p>
                                <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                    <div class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                        <a href="/servicios/sillas-butacas.html" class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                        <span>
                                            <span class="btn-text">Explorar servicio</span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </span> 
                                        </a>
                                </div> 
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <li class="grid-item {{ 'd-none' if esteServicio === 'alfombras-moquetes' }}">
                        <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                            <div class="blog-image">
                                <a href="demo-it-business-blog-single-clean.html" class="d-block"><img src="https://www.mvdwash.com.uy/imagenesweb/alfombras.png" alt="" /></a>
                                <div class="blog-categories">
                                    <a href="demo-it-business-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase fw-700">Hogar</a>
                                </div>
                            </div>
                            <div class="card-body p-13 md-p-11" style="padding-bottom: 20px !important">
                                <a href="demo-it-business-blog-single-clean.html" class="card-title mb-15px fw-600 fs-18 lh-28 text-dark-gray d-inline-block w-90 md-w-100">Alfombras y Moquettes</a>
                                <p>Es crucial mantener la limpieza de nuestras alfombras y moquettes, y para lograrlo ofrecemos...</p>
                                <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                    <div class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                    <a href="/servicios/alfombras-moquetes.html" class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                    <span>
                                        <span class="btn-text">Explorar servicio</span>
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                    </span> 
                                    </a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end blog item --> 
                    <!-- start blog item -->
                    <li class="grid-item {{ 'd-none' if esteServicio === 'colchones' }}">
                        <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                            <div class="blog-image">
                                <a href="demo-it-business-blog-single-clean.html" class="d-block"><img src="https://www.mvdwash.com.uy/imagenesweb/colchones.png" alt="" /></a>
                                <div class="blog-categories">
                                    <a href="demo-it-business-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase fw-700">Hogar</a>
                                </div>
                            </div>
                            <div class="card-body p-13 md-p-11" style="padding-bottom: 20px !important">
                                <a href="demo-it-business-blog-single-clean.html" class="card-title mb-15px fw-600 fs-18 lh-28 text-dark-gray d-inline-block w-90 md-w-100">Sanitización de colchones</a>
                                <p>Nuestro servicio de limpieza y sanitización de colchones elimina todas las bacterias, ácaros...</p>
                                <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                    <div class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                        <a href="/servicios/sanitizacion-colchones.html" class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                        <span>
                                            <span class="btn-text">Explorar servicio</span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </span> 
                                        </a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <li class="grid-item {{ 'd-none' if esteServicio === 'tapizados-autos' }}">
                        <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                            <div class="blog-image">
                                <a href="demo-it-business-blog-single-clean.html" class="d-block"><img src="https://www.mvdwash.com.uy/imagenesweb/tapizados.png" alt="" /></a>
                                <div class="blog-categories">
                                    <a href="demo-it-business-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase fw-700">Automotriz</a>
                                </div>
                            </div>
                            <div class="card-body p-13 md-p-11" style="padding-bottom: 20px !important">
                                <a href="demo-it-business-blog-single-clean.html" class="card-title mb-15px fw-600 fs-18 lh-28 text-dark-gray d-inline-block w-90 md-w-100">Tapizados de Autos</a>
                                <p>Es vital mantener el interior de tu coche impecablemente limpio. Como conductor frecuente...</p>
                                <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                    <div class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                        <a href="/servicios/tapizados-autos.html" class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                        <span>
                                            <span class="btn-text">Explorar servicio</span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </span> 
                                        </a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <li class="grid-item {{ 'd-none' if esteServicio === 'productos-exclusivos' }}">
                        <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                            <div class="blog-image">
                                <a href="demo-it-business-blog-single-clean.html" class="d-block"><img src="https://www.mvdwash.com.uy/imagenesweb/productos.png" alt="" /></a>
                                <div class="blog-categories">
                                    <a href="demo-it-business-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase fw-700">Productos</a>
                                </div>
                            </div>
                            <div class="card-body p-13 md-p-11" style="padding-bottom: 20px !important">
                                <a href="demo-it-business-blog-single-clean.html" class="card-title mb-15px fw-600 fs-18 lh-28 text-dark-gray d-inline-block w-90 md-w-100">Productos Exclusivos</a>
                                <p>Disponemos de una línea exclusiva de diversos productos para la limpieza del hogar y automotriz...</p>
                                <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                    <div class="d-flex justify-content-center border-top border-color-extra-medium-gray pt-20px pb-20px ps-50px pe-50px position-relative text-center">
                                        <a href="/servicios/productos-exclusivos.html" class="btn btn-link btn-hover-animation-switch btn-medium fw-700 text-dark-gray text-uppercase">
                                        <span>
                                        <span class="btn-text">Explorar servicio</span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </span> 
                                        </a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                </ul>
        </div>
        </div>
    </div>
    <div class="shape-image-animation p-0 w-100 bottom-minus-40px xl-bottom-0px d-none d-md-block"> 
        <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200" fill="#ffffff"> 
        <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
        <animate
            attributeName="d"
            dur="5s"
            values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250"
            repeatCount="indefinite"
            />
        </path>
        </svg>
    </div>
</section>