---
layout: base.njk
title: Limpieza de Sillones
---

<!-- Banner -->
{% set titulo = 'Sillones y Sofás' %}
{% set backgroundUrl = '/assets/images/cabezales/cabezal_sillones.png' %}
{% include "servicios/banner.njk" %}
<!-- /End Banner -->

<!-- Intro -->
{% set titulo = 'Una Limpieza Profunda para tu sillón' %}
{% set descripcion = '
  Ofrecemos servicios de limpieza y sanitización para una amplia variedad de tipos de sillones, incluyendo modelos de un cuerpo, dos cuerpos, tres cuerpos, long chaise, entre otros, fabricados en diferentes materiales como tela, Aqua clean, cuero, eco cuero, pana, lana, entre otros. Nuestro proceso de limpieza garantiza que tus sillones queden completamente libres de millones de bacterias que pueden habitar en ellos.
' %}
{% include "servicios/intro.njk" %}
<!-- /End Intro -->

<!-- Bloque 1 (Nuestra dedicación en cada trabajo) -->
{% set tag = 'HOGAR Y EMPRESAS' %}
{% set imagen = 'video_sillones.png' %}
{% set titulo = 'Nuestra dedicación en cada trabajo' %}
{% include "servicios/bloque-1.njk" %}
<!-- /Termina Bloque 1 -->

<!-- Bloque 2 (Pensamos diferente, creemos que...) -->
{% include "servicios/bloque-2.njk" %}
<!-- /Termina Bloque 2 -->

<section>
  <div class="container">
    <!-- Bloque 3 (Elegí calidad de trabajo...)-->
    {% set imagenBloque3 = 'video_sillones.png' %}
    {% include "servicios/bloque-3.njk" %}
    {% include "servicios/logos.njk" %} 
    {% include "servicios/faq.njk" %} 
    {% include "servicios/obten-presupuesto.njk" %} 
  </div>
</section>
<!-- /Termina Bloque 3 -->

<!-- Otros Servicios -->
{% set serviciosTitulo = 'Otros servicios que te pueden interesar' %}
{% set esteServicio = 'sillones-sofas' %}
{% include "servicios.njk" %}
<!-- /Termina Otros Servicios -->

<!-- Form -->
{% set formServicioAsunto = 'Presupuesto para sillones' %}
{% set formServicio = 'limpieza-sillones' %}
{% include "servicios/form.njk" %}
<!-- /End Banner -->


  
