---
layout: base.njk
bodyClass: contacto
ocultarBotonPresupuesto: true
title: Quiénes somos
---

<!-- start page title -->
<section class="pt-0 cover-background ipad-top-space-margin sm-pb-0" style="background-image:url('/assets/images/banner_quienes.png');">
    <div class="shape-image-animation p-0 w-100 d-none d-md-block"> 
        <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200" fill="#ffffff"> 
        <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
        <animate
            attributeName="d"
            dur="5s"
            values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250"
            repeatCount="indefinite"
            />
        </path>
        </svg>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center h-500px sm-h-300px">
            <div class="col-12 col-lg-6 col-md-10 position-relative text-center page-title-extra-large d-flex flex-wrap flex-column align-items-center justify-content-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span class="ps-25px pe-25px pt-5px pb-5px mb-15px text-uppercase text-white fs-12 ls-1px fw-600 border-radius-100px bg-gradient-dark-gray-transparent d-flex"><i class="bi bi-megaphone text-white icon-small me-10px"></i>Viví tu experiencia</span>
                <h1 class="mb-20px text-white fw-600 ls-minus-1px">Sobre nosotros</h1>
            </div> 
        </div>
    </div>
</section>

<section class="pt-25px sm-pt-50px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 last-paragraph-no-margin" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h6 class="alt-font fw-600 text-dark-gray" style="line-height: 1.45em">"El veneno más peligroso es la sensación de logro. El antídoto es irse a acostar pensando en qué se puede hacer mejor mañana" — Ingvar Kamprad (Fundador de IKEA) 
</h6>
                <p>Nos especializamos en la limpieza y sanitización de diversos elementos del hogar y automóviles, incluyendo sillones, sofás, alfombras, moquettes, colchones.

Nuestra empresa ofrece una amplia gama de servicios diseñados para satisfacer las necesidades específicas de cada cliente. Abordamos cada tarea con un alto nivel de responsabilidad y profesionalismo, garantizando resultados de calidad. Empleamos maquinaria de última generación y contamos con un equipo altamente capacitado para realizar cada tarea de manera eficiente y efectiva.</p>
            </div>
        </div>
    </div>
</section>

<!-- end page title --> 
<!-- start section -->

<section class="position-relative pt-3 sm-pt-50px overlap-height background-no-repeat background-position-left-top cover-background" style="background-image: url('/assets/images/fondo-quienes04.png')">
    <div class="container overlap-gap-section">
        <div class="row align-items-center mb-6">
            <div class="col-lg-6 md-mb-50px">
                <div class="d-flex flex-column box-shadow-quadruple-large border-radius-8px overflow-hidden" data-anime='{ "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }' data-shadow-animation="true" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                    <div class="row row-cols-1 row-cols-sm-2 justify-content-center m-0">
                        <div class="col p-10 lg-p-8 text-center border-bottom border-end xs-border-end-0 border-color-extra-medium-gray bg-white text-center last-paragraph-no-margin">
                            <i class="line-icon-Medal-2 icon-extra-large text-base-color mb-15px d-block"></i>
                            <span class="fs-14 fw-700 text-dark-gray text-uppercase lh-20 d-inline-block">Experiencia y calidad<br>de trabajo</span>
                        </div>
                        <div class="col p-10 lg-p-8 text-center border-bottom border-color-extra-medium-gray bg-white text-center last-paragraph-no-margin">
                            <i class="line-icon-Knight icon-extra-large text-base-color mb-15px d-block"></i>
                            <span class="fs-14 fw-700 text-dark-gray text-uppercase lh-20 d-inline-block">Garantía<br>confianza</span>
                        </div>
                        <div class="col p-10 lg-p-8 text-center border-end xs-border-end-0 xs-border-bottom border-color-extra-medium-gray bg-white text-center last-paragraph-no-margin">
                            <i class="line-icon-Gear icon-extra-large text-base-color mb-15px d-block"></i>
                            <span class="fs-14 fw-700 text-dark-gray text-uppercase lh-20 d-inline-block">Maquinaria<br>de avanzada</span>
                        </div>
                        <div class="col p-10 lg-p-8 text-center bg-white text-center last-paragraph-no-margin">
                            <i class="line-icon-Management icon-extra-large text-base-color mb-15px d-block"></i>
                            <span class="fs-14 fw-700 text-dark-gray text-uppercase lh-20 d-inline-block">Clientes satisfechos</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-12 lh-40 fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-flex"><i class="bi bi-award fs-16 me-5px"></i>Absoluta confianza en lo que hacemos</span>
                <h3 class="text-dark-gray fw-700 ls-minus-1px md-w-80 sm-w-100">Nuestra responsabilidad</h3>
                <div class="mb-40px sm-mb-30px">
                    <!-- start features box item -->
                    <div class="icon-with-text-style-08 mb-25px">
                        <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                            <div class="feature-box-icon feature-box-icon-rounded w-50px h-50px rounded-circle bg-very-light-gray me-20px text-center"><i class="fa-solid fa-check fs-16 text-base-color"></i></div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="fs-17 fw-600 text-dark-gray">Dar lo mejor de nosotros en cada limpieza</span>
                                <p class="text-white">Cumplir con las normas de sanidad responsables</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="icon-with-text-style-08">
                        <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                            <div class="feature-box-icon feature-box-icon-rounded w-50px h-50px rounded-circle bg-very-light-gray me-20px text-center"><i class="fa-solid fa-check fs-16 text-base-color"></i></div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="fs-17 fw-600 text-dark-gray">Darte nuestra confianza</span>
                                <p class="text-white">Somos responsables del cuidado de tus bienes</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                </div>
                <a href="/#nuestros-servicios" class="btn btn-extra-large btn-gradient-purple-pink btn-hover-animation-switch btn-rounded btn-box-shadow btn-icon-left me-30px">
                    <span> 
                        <span class="btn-text">Explorar Servicios</span>
                        <span class="btn-icon"><i class="feather icon-feather-briefcase"></i></span>
                        <span class="btn-icon"><i class="feather icon-feather-briefcase"></i></span>
                    </span>
                </a>
                <a href="/contacto/" class="btn btn-link btn-hover-animation-switch btn-extra-large text-dark-gray btn-icon-left align-middle fw-600 p-0 xs-mt-20px xs-mb-20px">
                    <span>
                        <span class="btn-text">Contacto</span>
                        <span class="btn-icon"><i class="feather icon-feather-mail"></i></span>
                        <span class="btn-icon"><i class="feather icon-feather-mail"></i></span>
                    </span> 
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <i class="bi bi-envelope text-dark-gray d-inline-block align-middle icon-extra-medium me-10px md-m-5px"></i>
                <div class="fs-18 text-dark-gray d-inline-block align-middle fw-500">Siempre elegí calidad, nunca precio. <a href="/contacto/" class="text-dark-gray text-decoration-line-bottom fw-700">Contáctanos ahora!</a></div>
            </div>
        </div>
    </div> 
</section>
<!-- end section -->   
<!-- start section -->

<!-- end section -->
<!-- start section -->
<section class="bg-very-light-gray background-no-repeat background-position-left-top position-relative" style="background-image: url('/assets/images/demo-it-business-about-bg2.jpg')"> 
    <div class="container">
        <div class="row align-items-center justify-content-center mb-7"> 
            <div class="col-xl-5 col-lg-6 mb-30px" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-12 lh-40 fw-700 border-radius-100px bg-gradient-light-gray-transparent d-inline-flex"><i class="bi bi-box-seam fs-16 me-5px"></i>Creative process</span>
                <h3 class="text-dark-gray fw-700 ls-minus-2px mb-50px">Calidad de Servicio</h3>
                <div class="row row-cols-1">
                    <!-- start process step item -->
                    <div class="col-12 process-step-style-05 position-relative hover-box">
                        <div class="process-step-item d-flex">
                            <div class="process-step-icon-wrap position-relative">
                                <div class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px fs-14 bg-white position-relative box-shadow-bottom will-change-transform">
                                    <span class="number position-relative z-index-1 text-dark-gray fw-600">01</span>
                                    <div class="box-overlay bg-dark-gray rounded-circle"></div>
                                </div> 
                                <span class="progress-step-separator bg-dark-gray opacity-1"></span>
                            </div>
                            <div class="process-content ps-35px sm-ps-25px last-paragraph-no-margin mb-40px">
                                <span class="d-block fw-600 text-dark-gray fs-17 mb-5px">Ahorra Dinero</span>
                                <p class="w-90 sm-w-100">Limpiar las superficies que mas utilizamos en nuestro hogar como los sillones, sofás, moquettes, alfombras, colchones, aumentan la durabilidad de los mismos. Mantiene la higiene adecuada para que los que habitan en ella tengan una mejor vida saludable.</p>
                            </div>
                        </div> 
                    </div>
                    <!-- end process step item --> 
                    <!-- start process step item -->
                    <div class="col-12 process-step-style-05 position-relative hover-box">
                        <div class="process-step-item d-flex">
                            <div class="process-step-icon-wrap position-relative">
                                <div class="process-step-icon d-flex justify-content-center align-items-center mx-auto rounded-circle h-60px w-60px fs-14 bg-white position-relative box-shadow-bottom will-change-transform">
                                    <span class="number position-relative z-index-1 text-dark-gray fw-600">02</span>
                                    <div class="box-overlay bg-dark-gray rounded-circle"></div>
                                </div> 
                                <span class="progress-step-separator bg-dark-gray opacity-1"></span>
                            </div>
                            <div class="process-content ps-35px sm-ps-25px last-paragraph-no-margin mb-40px">
                                <span class="d-block fw-600 text-dark-gray fs-17 mb-5px">Vida Saludable</span>
                                <p class="w-90 sm-w-100">Es fundamental la sanitización de nuestros muebles, sobre todo los que utilizamos con más frecuencia, como ser colchones, sillones, sofás, moquettes, alfombras, estos se exponen todo el tiempo a nuestros zapatos, ropa, transportadores de millones de bacterias que conviven a diario con nosotros, es recomendable una vez por mes realizar una profunda limpieza.</p>
                            </div>
                        </div> 
                    </div>
                    <!-- end process step item --> 
                    <!-- start process step item -->
                    
                    <!-- end process step item --> 
                </div>  
            </div> 
            <div class="col-lg-6 text-center md-mb-20px offset-xl-1"> 
                <figure class="position-relative mb-0 overflow-hidden" data-shadow-animation="true" data-bottom-top="transform: translateY(70px)" data-top-bottom="transform: translateY(-70px)"> 
                    <img src="/assets/images/sobre_foto.png" class="w-100 border-radius-6px" alt=""> 
                    <figcaption class="position-absolute border-radius-4px text-center right-30px bottom-30px pt-35px pb-35px ps-5px pe-5px bg-white-transparent glass-effect">
                        <span class="fs-80 lh-75 text-dark-gray ls-minus-4px position-relative fw-800 mb-5px d-block alt-font">10<sub class="fs-40 lh-40 text-dark-gray position-relative top-minus-40px">+</sub></span>
                        <span class="d-block mx-auto fs-14 fw-700 lh-20 w-200px text-center text-dark-gray text-uppercase">Años de Experiencia</span>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 clients-style-06 justify-content-center ps-3 pe-3 xs-mt-40px" data-anime='{ "el": "childs", "scale": [0.8,1], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <!-- start client item -->
            <div class="col client-box text-center md-mb-40px">
                <img src="/assets/images/logo_hard_rock01.png" alt="">
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center md-mb-40px">
                <img src="/assets/images/sodre03.png" alt="">
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center md-mb-40px">
               <img src="/assets/images/innovar02.png" alt="">
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center sm-mb-40px">
                <img src="/assets/images/altius01.png" alt="">
            </div> 
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center">
              <img src="/assets/images/yuditec.png" alt="">
            </div> 
            <!-- end client item -->
        </div>
    </div>
    <div class="shape-image-animation p-0 w-100 bottom-minus-40px xl-bottom-0px d-none d-md-block"> 
        <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200" fill="#ffffff"> 
        <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
        <animate
            attributeName="d"
            dur="5s"
            values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250"
            repeatCount="indefinite"
            />
        </path>
        </svg>
    </div>
</section>
<!-- end section -->