<!-- start section -->
<section class="bg-very-light-gray">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-xl-8 col-lg-9 col-md-10 text-center">
                <h3 class="text-dark-gray fw-700 ls-minus-1px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Pensamos diferente, creemos que un ambiente limpio es un ambiente sano para la salud y para el entorno</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "willchange": "transform", "scale":[0.95,1], "opacity": [0, 1], "duration": 800, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <!-- start features box item -->
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-15 pe-15 lg-ps-8 lg-pe-8 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="ti-bar-chart text-base-color icon-extra-large text-light-opacity mb-25px"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 fs-17 mb-5px">Autoestima</span>
                        <p class="text-light-opacity">

Un ambiente limpio contribuye a que nos sintamos más positivos, reaccionemos con una conciencia clara y estemos libres de preocupaciones sobre nuestro entorno.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>  
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-15 pe-15 lg-ps-8 lg-pe-8 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="ti-time text-base-color icon-extra-large text-light-opacity mb-25px"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 fs-17 mb-5px">Tiempo personal</span>
                        <p class="text-light-opacity">
Nuestro tiempo es invaluable; hagamos uso sabio del poco que pasamos con nosotros mismos en un entorno saludable y libre de bacterias.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>  
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-04 transition-inner-all xs-mb-30px">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-15 pe-15 lg-ps-8 lg-pe-8 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="ti-user text-base-color icon-extra-large text-light-opacity mb-25px"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 fs-17 mb-5px">Agazaja con confianza</span>
                        <p class="text-light-opacity">
Diseña un espacio único donde tus invitados puedan disfrutar de una experiencia excepcional, ya sea en el ámbito laboral o en el hogar.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>  
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-04 transition-inner-all">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-15 pe-15 lg-ps-8 lg-pe-8 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="ti-bookmark-alt text-base-color icon-extra-large text-light-opacity mb-25px"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 fs-17 mb-5px">Disfrutar</span>
                        <p class="text-light-opacity">
Aprovechemos todo lo que la vida nos ofrece en el momento presente. Por esta simple razón, optemos por cultivar nuestra felicidad y bienestar.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>  
            </div>
            <!-- end features box item -->
        </div>
    </div>
</section>
<!-- end section -->