<!-- start section -->
<div class="row align-items-center justify-content-center mb-7 sm-mb-40px">
    <div class="col-xl-5 col-lg-6 col-md-12 md-mb-50px" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
        <span class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-12 lh-40 fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-flex"><i class="bi bi-patch-check fs-16 me-5px"></i>Services benefits</span>
        <h3 class="fw-700 text-dark-gray ls-minus-1px">Elegí calidad de trabajo, nunca precio</h3>
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
            <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-very-light-gray rounded-circle me-15px">
                    <i class="fa-solid fa-check fs-12 text-base-color"></i> 
                </div>
                <div class="feature-box-content"> 
                    <span class="text-dark-gray fw-500">Maquinaria profesional</span>
                </div>
            </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
            <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-very-light-gray rounded-circle me-15px">
                    <i class="fa-solid fa-check fs-12 text-base-color"></i> 
                </div>
                <div class="feature-box-content"> 
                    <span class="text-dark-gray fw-500">Experiencia</span>
                </div>
            </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
            <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-very-light-gray rounded-circle me-15px">
                    <i class="fa-solid fa-check fs-12 text-base-color"></i> 
                </div>
                <div class="feature-box-content"> 
                    <span class="text-dark-gray fw-500">Confianza</span>
                </div>
            </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="icon-with-text-style-08">
            <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-very-light-gray rounded-circle me-15px">
                    <i class="fa-solid fa-check fs-12 text-base-color"></i> 
                </div>
                <div class="feature-box-content"> 
                    <span class="text-dark-gray fw-500">Respeto a cada hogar y empresa abordada</span>
                </div>
            </div>
        </div>
        <!-- end features box item -->
    </div>
    <div class="col-lg-6 offset-xl-1 position-relative z-index-1" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="atropos" data-atropos data-atropos-perspective="2450">
            <div class="atropos-scale">
                <div class="atropos-rotate">
                    <div class="atropos-inner">
                        <img src="/assets/images/video_sillones.png" alt="" class="border-radius-6px w-100"/>
                    </div>
                </div> 
            </div>
        </div> 
        <div class="absolute-middle-center text-white-space-nowrap z-index-9">
            <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="btn btn-extra-large btn-white left-icon btn-box-shadow fw-600 btn-rounded popup-youtube ls-minus-05px"><i class="fa-brands fa-youtube icon-small"></i>Nuestro trabajo</a>
        </div>
    </div>
</div>
<!-- end section -->