<div class="row align-items-center mt-8 sm-mt-40px" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
    <div class="col-12">
        <div class="bg-very-light-gray p-9 md-p-6 xs-p-9 border-radius-6px overflow-hidden position-relative">
            <div class="position-absolute right-70px lg-right-20px top-minus-20px w-250px sm-w-180px xs-w-150px opacity-1"><img src="/assets/images/sillas_relacionadas.png" alt=""></div>
            <span class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-12 lh-40 fw-700 border-radius-100px bg-gradient-light-gray-transparent d-inline-flex"><i class="bi bi-patch-check fs-16 me-5px"></i>(FAQS)</span>
            <h3 class="fw-700 text-dark-gray ls-minus-1px">Preguntas Frecuentes (FAQS).</h3> 
            <div class="accordion accordion-style-02" id="mvd-preguntas-frecuentes" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">

                <!-- start accordion item -->
                <div class="accordion-item active-accordion">
                    <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#mvd-faq-1" aria-expanded="true" data-bs-parent="#mvd-preguntas-frecuentes">
                            <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                <i class="feather icon-feather-minus fs-20"></i><span class="fs-17 fw-500">Las limpiezas se realizan a domicilio?</span>
                            </div>
                        </a>
                    </div>
                    <div id="mvd-faq-1" class="accordion-collapse collapse show" data-bs-parent="#mvd-preguntas-frecuentes">
                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                            <p class="w-90 sm-w-95 xs-w-100">Varias de nuestras limpiezas y sanitizaciones se realizan a domicilio, como ser moquettes, sillones, sofás, sillas, butacas, colchones...</p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->

                <!-- start accordion item -->
                <div class="accordion-item">
                    <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#mvd-faq-2" aria-expanded="false" data-bs-parent="#mvd-preguntas-frecuentes">
                            <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                <i class="feather icon-feather-plus fs-20"></i><span class="fs-17 fw-500">Puedo solicitar un servicio en menos de 24 hs?</span>
                            </div>
                        </a>
                    </div>
                    <div id="mvd-faq-2" class="accordion-collapse collapse" data-bs-parent="#mvd-preguntas-frecuentes">
                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                            <p class="w-90 sm-w-95 xs-w-100">Sí, solo que va a depender de nuestra agenda, por lo general no tenemos problemas con los horarios, pero nuestro stock de maquinas puede llegar a estar limitado por la demanda de trabajos entre semana. De todas formas siempre le encontramos una solución!!, en casos de urgencia, como por ejemplo se le rompió un calefón y se le esta inundando la moquette de agua, allí estaremos de inmediato. Cuente con nosotros.</p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->

                <!-- start accordion item -->
                <div class="accordion-item">
                    <div class="accordion-header border-bottom border-color-transparent">
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#mvd-faq-3" aria-expanded="false" data-bs-parent="#mvd-preguntas-frecuentes">
                            <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                <i class="feather icon-feather-plus fs-20"></i><span class="fs-17 fw-500">Qué garantía me da MVDWASH?</span>
                            </div>
                        </a>
                    </div>
                    <div id="mvd-faq-3" class="accordion-collapse collapse" data-bs-parent="#mvd-preguntas-frecuentes">
                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                            <p class="w-90 sm-w-95 xs-w-100">Garantizamos todos nuestros trabajos 100%. Podrá realizar los reclamos que usted considere pertinentes y nosotros le daremos una solución de inmediato.</p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->

                <!-- start accordion item -->
                <div class="accordion-item">
                    <div class="accordion-header border-bottom border-color-transparent">
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#mvd-faq-4" aria-expanded="false" data-bs-parent="#mvd-preguntas-frecuentes">
                            <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                <i class="feather icon-feather-plus fs-20"></i><span class="fs-17 fw-500">Qué métodos de pago aceptan?</span>
                            </div>
                        </a>
                    </div>
                    <div id="mvd-faq-4" class="accordion-collapse collapse" data-bs-parent="#mvd-preguntas-frecuentes">
                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                            <p class="w-90 sm-w-95 xs-w-100">Tenemos todos los métodos de pagos, tienes la posibilidad de abonar con crédito o débito a través de mercado pago o puedes abonar realizando una transferencia bancaria en cuenta (BROU) o puede pagarnos en efectivo al finalizar el trabajo realizado.</p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->

                <!-- start accordion item -->
                <div class="accordion-item">
                    <div class="accordion-header border-bottom border-color-transparent">
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#mvd-faq-5" aria-expanded="false" data-bs-parent="#mvd-preguntas-frecuentes">
                            <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                <i class="feather icon-feather-plus fs-20"></i><span class="fs-17 fw-500">En qué zona realizan trabajos?</span>
                            </div>
                        </a>
                    </div>
                    <div id="mvd-faq-5" class="accordion-collapse collapse" data-bs-parent="#mvd-preguntas-frecuentes">
                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                            <p class="w-90 sm-w-95 xs-w-100">Trabajamos todos los barrios de Montevideo, Canelones y Maldonado.</p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->

                <!-- start accordion item -->
                <div class="accordion-item">
                    <div class="accordion-header border-bottom border-color-transparent">
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#mvd-faq-6" aria-expanded="false" data-bs-parent="#mvd-preguntas-frecuentes">
                            <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                <i class="feather icon-feather-plus fs-20"></i><span class="fs-17 fw-500">Cual es el horario de atención?</span>
                            </div>
                        </a>
                    </div>
                    <div id="mvd-faq-6" class="accordion-collapse collapse" data-bs-parent="#mvd-preguntas-frecuentes">
                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                            <p class="w-90 sm-w-95 xs-w-100">Nuestro horario de atención teléfonica es de 8:00 a 19:00 hs. Pero le damos la opción de solicitar un presupuesto a través de la web, al igual que una consulta por Whatsapp las 24 hs. del día al 097 800 050</p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->
                
                <!-- start accordion item -->
                <div class="accordion-item">
                    <div class="accordion-header border-bottom border-color-transparent">
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#mvd-faq-7" aria-expanded="false" data-bs-parent="#mvd-preguntas-frecuentes">
                            <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                <i class="feather icon-feather-plus fs-20"></i><span class="fs-17 fw-500">Trabajan los Fines de Semana?</span>
                            </div>
                        </a>
                    </div>
                    <div id="mvd-faq-7" class="accordion-collapse collapse" data-bs-parent="#mvd-preguntas-frecuentes">
                        <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                            <p class="w-90 sm-w-95 xs-w-100">Realizamos trabajos de Lunes a Sábados de 8 a 19:00 hs. Los días Domingo podemos atender casos de suma urgencia.</p>
                        </div>
                    </div>
                </div>
                <!-- end accordion item -->

            </div>
        </div>
    </div> 
</div>